<div class="container">
    <h1>{{listTitle}}</h1>
    <div class="row">
        <div class="col-md-4">
            <h2>Nerd Stuff to Try</h2>
            <div id="todo" class="list-group" ondrop="drop(event)" ondragover="allowDrop(event)">
                {{#each todoItems}}
                <div id="{{id}}" class="list-group-item" draggable="true" ondragstart="drag(event)">
                    {{title}}
                </div>
                {{/each}}
            </div>
        </div>
        <div class="col-md-4">
            <h2>In Process Nerd Stuff</h2>
            <div id="inprocess" class="list-group" ondrop="drop(event)" ondragover="allowDrop(event)">
                {{#each inProcessItems}}
                <div id="{{id}}" class="list-group-item" draggable="true" ondragstart="drag(event)">
                    {{title}}
                </div>
                {{/each}}
            </div>
        </div>
        <div class="col-md-4">
            <h2>Finished Nerd Stuff</h2>
            <div id="done" class="list-group" ondrop="drop(event)" ondragover="allowDrop(event)">
                {{#each doneItems}}
                <div id="{{id}}" class="list-group-item" draggable="true" ondragstart="drag(event)">
                    {{title}}
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>