<head>
  <link rel='stylesheet' href='/css/lists.css' />
</head>

{{!-- Main Title for list  --}}
<div class='p-4 mb-4 text-center border-bottom border-5'>
  {{!-- Displays the title including the name for the specific user that is logged in --}}
  <h1 class='list-title display-3' id='title'>{{name}}'s
    {{capitalize category}}
    List</h1>
  <button type='button' class='add-btn btn btn-dark' onclick="location.href='/create'">Add an Item</button>
</div>

{{!-- List Starter HTML --}}
<div class='container'>
  <h1>{{listTitle}}</h1>
  <div class='row'>
    <div class='col-md-4'>
      <h2 class="text-center">To Do</h2>
      <div id='todo' class='list-group' ondrop='drop(event)' ondragover='allowDrop(event)'>
        {{#each list}}
          <div id='{{id}}' class='list-group-item' draggable='true' ondragstart='drag(event)'>
            <div class='card border-dark mb-3 text-center' style='width: 100%;'>
              <div class='card-header'><h5 class='card-title'>{{title}}</h5></div>
              <div class='card-body text-dark'>
                <p class='card-text'>{{description}}</p>
                <p class='card-text'><small class='text-muted'>Created on {{format_date date_created}}</small></p>
              </div>
              <div class='card-footer' style='height: 50px; max-height: none; overflow: auto;'>
                <button type='button' class='btn btn-danger btn-sm' id='delete-item' data-id='{{id}}'>Delete</button>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
    <div class='col-md-4'>
      <h2 class="text-center">In Process</h2>
      <div id='inprocess' class='list-group' ondrop='drop(event)' ondragover='allowDrop(event)'>
        {{#each inProcessItems}}
          <div id='{{id}}' class='list-group-item' draggable='true' ondragstart='drag(event)'>
            {{title}}
          </div>
        {{/each}}
      </div>
    </div>
    <div class='col-md-4'>
      <h2 class="text-center">Done</h2>
      <div id='done' class='list-group' ondrop='drop(event)' ondragover='allowDrop(event)'>
        {{#each doneItems}}
          <div id='{{id}}' class='list-group-item' draggable='true' ondragstart='drag(event)'>
            {{title}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<script src='/js/lists.js'></script>
<script src='/js/remove-list.js'></script>